* {
    padding: 0;
    margin: 0;
}
.w {
    width: 1200px;
    margin: auto;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header {
    height: 42px;
    margin: 30px auto;
    background-color: pink;
}
.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}
.nav {
    float: left;
    margin-left: 60px;
}
.nav ul li {
    float: left;
}
.nav ul li a{
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    color: #050505;
    font-size: 18px;
}
.nav ul li a:hover{
    border-bottom:2px solid #00a4ff;
    color: #00a4ff;
}
.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: skyblue;
    margin-left:50px;
}
.search input{
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 15px;
    font-size: 14px;
}